<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
		
        <link href="/public/app.css" rel="stylesheet">
    </head>
    <body class="home">
        <div class="container">
            <div class="login-page clearfix">
              <div class="login-box auth0-box before">
                <h3>UDB Login Example</h3>
                <p>User Data Base - Net-Zero Energy Housing</p>
                <form action="/login">
                    PDB url: 
                        <br/><input type="text" name="pdb_url"></input><br/>
                    <input type="submit" value="Log In" id="qsLoginBtn" class="btn btn-primary btn-lg btn-login btn-block" href="/login"></input>
                </form>
              </div>
			  <div>
			  </div>
            </div>
        </div>
    </body>
</html>
